In [2]:
import pandas as pd

df = pd.read_csv("../data/raw/online_retail.csv")

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   UnitPrice    525461 non-null  float64
 6   CustomerID   417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.1+ MB

            Quantity      UnitPrice     CustomerID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [6]:
# Remove cancelled invoices
df = df[~df["InvoiceNo"].astype(str).str.startswith("C")]

df.shape

(515255, 8)

In [8]:
df = df.dropna(subset=["CustomerID"])

df.shape

(407695, 8)

In [10]:
df = df[df["Quantity"] > 0]
df = df[df["UnitPrice"] > 0]

df.shape

(407664, 8)

In [12]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

In [14]:
df["Revenue"] = df["Quantity"] * df["UnitPrice"]

df["Year"] = df["InvoiceDate"].dt.year
df["Month"] = df["InvoiceDate"].dt.month
df["Day"] = df["InvoiceDate"].dt.day

In [16]:
df = df.rename(columns={
    "InvoiceNo": "InvoiceID",
    "StockCode": "ProductID",
    "Description": "ProductDescription",
    "UnitPrice": "UnitPrice",
    "CustomerID": "CustomerID",
    "Country": "Country"
})

In [18]:
df.info()
df.isnull().sum()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 407664 entries, 0 to 525460
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   InvoiceID           407664 non-null  object
 1   ProductID           407664 non-null  object
 2   ProductDescription  407664 non-null  object
 3   Quantity            407664 non-null  int64
 4   InvoiceDate         407664 non-null  datetime64[ns]
 5   UnitPrice           407664 non-null  float64
 6   CustomerID          407664 non-null  float64
 7   Country             407664 non-null  object
 8   Revenue             407664 non-null  float64
 9   Year                407664 non-null  int32
 10  Month               407664 non-null  int32
 11  Day                 407664 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), int64(1), object(4)
memory usage: 35.8+ MB

,InvoiceID,ProductID,ProductDescription,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Year,Month,Day
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4,2009,12,1
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,2009,12,1
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,2009,12,1
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8,2009,12,1
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0,2009,12,1

In [20]:
df.to_csv("../data/processed/cleaned_retail_data.csv", index=False)